.header {
    background: var(--blue);
    display: flex;    
    padding: 1rem 0;
    height: 5rem;
    width: 100%;
}

.logo {
    margin-left: 5rem;
}

.search {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 630px) {
    .header {
        display: grid;
        height: 10rem;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }
}