.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 480px;
    height: 45px;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding: 1rem;
}

.button {
    width: 50px;
    height: 45px;
    margin-left: 0.0rem;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: var(--black);
    cursor: pointer;
}